/* style.scss */
.secondary-container {
  display: flex;
  flex-wrap: nowrap; //não quebra linha
  flex: 1; //espaço horizontal igual
  background-color: rgb(255, 255, 255);
  height: auto;
  margin-bottom: 10px;
  overflow: hidden; 
  padding-top: 10px;
  
  .left-content {
    flex: 1; 
    width: 100%;
    text-align: left;
    padding-right: 15px;

    align-items: center;
    margin: auto; 
    
    img{
      max-width: 120px; 
      max-height: 120px;
      display: block;
    }
  }
  
  .center-content {
    width: 100%;
    text-align: left;
    padding-left: 30px;
  }
  
  .right-content {
    margin-top: 0px;
    text-align: center;
    min-height: 100px;
    p{
      color: orange;
      position: relative; 
      z-index: 1; 
    }

    img{
      max-width: 120px; 
      max-height: 120px;
      transform-origin: center;
      transform: rotate(45deg);
      transition: transform 0.5s; 
    }
  }

  p{
    font-size: 30px;
    margin: 0 0 0 0;
    color: orange;
    font-weight: bold; 
  }
  
  .description{
    font-size: 45px;
    color: rgb(22, 22, 22); 
    margin: 5px 0 0 0;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}


@media (max-width: 768px) {
  .secondary-container {
    p{
      font-size: 20px;
      margin: 0 0 0 0;
      color: orange;
      font-weight: bold; 
    }

    .description{
      font-size: 18px;
      color: rgb(22, 22, 22); 
      margin: 5px 0 0 0;
    }
  }
  .right-content {
    img{
      max-width: 90px !important; 
      max-height: 90px !important;
    }
  }

  .left-content {
    img{
      max-width: 90px !important; 
      max-height: 90px !important;
    }
  }
}